$bg-blue:  hsl(193, 100%, 96%);
$bg-blue-dark: hsl(192, 100%, 9%);
$bg-pink: hsl(322, 100%, 66%);
$bg-white: hsl(208, 11%, 100%);
$bg-shadow: hsl(0, 1%, 64%);
$color-hover-pink: hsl(322, 100, 80);
$color-hover-blue-dark: hsl(191, 7%, 46%);
$color-blue-dark: hsl(192, 100%, 9%);
$color-gray: hsl(208, 11%, 55%);
$color-white: hsl(208, 11%, 100%);
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;
$font-w-400: 400;
$font-w-600: 600;
$font-w-700: 700;
$break-point-tablet: 800px;
