.header-container {
  background-color: transparent;
  display: flex;
  height: 5rem;
  position: absolute;
  width: 100%; }
  @media only screen and (min-width: 800px) {
    .header-container {
      height: 7rem; } }
  .header-container__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%; }
    @media only screen and (min-width: 800px) {
      .header-container__nav {
        margin: 0 1.5rem; } }
  .header-container__logo {
    padding-left: 1rem;
    width: 8rem; }
    @media only screen and (min-width: 800px) {
      .header-container__logo {
        width: 9.5rem; } }
  .header-container__button {
    background-color: white;
    border-radius: 3rem;
    border: none;
    box-shadow: 0.5px 0.5px 5px #808d99;
    color: #00252e;
    font-weight: 700;
    height: 1.8rem;
    margin-right: 1rem;
    width: 7rem; }
    .header-container__button:hover {
      color: #6d7b7e; }
    @media only screen and (min-width: 800px) {
      .header-container__button {
        width: 11rem;
        height: 2.8rem; } }

.hero-container {
  background-color: #ebfbff;
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  color: #00252e; }
  @media only screen and (min-width: 800px) {
    .hero-container {
      background-image: url("../images/bg-hero-desktop.svg"); } }
  .hero-container__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.5rem; }
    @media only screen and (min-width: 800px) {
      .hero-container__content {
        margin: 0 1.5rem;
        justify-content: space-between;
        flex-direction: row; } }
  .hero-container__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%; }
    @media only screen and (min-width: 800px) {
      .hero-container__text {
        align-items: initial;
        text-align: initial;
        padding-right: 8rem; } }
  .hero-container__title {
    font-family: "Poppins", sans-serif;
    margin-top: 4.5rem; }
    @media only screen and (min-width: 800px) {
      .hero-container__title {
        font-size: 2.5rem; } }
  .hero-container__description {
    font-weight: 400;
    margin-top: 1.5rem; }
  .hero-container__button {
    background-color: #ff52bf;
    border-radius: 3rem;
    border: none;
    color: white;
    box-shadow: 1px 1px 5px #a4a2a2;
    font-weight: 700;
    height: 3rem;
    margin-top: 1.5rem;
    width: 15rem; }
    .hero-container__button:hover {
      background-color: #ff99da; }
  .hero-container__img {
    margin-top: 2.5rem;
    width: 90%; }
    @media only screen and (min-width: 800px) {
      .hero-container__img {
        margin-top: 5rem;
        width: 50%; } }

.cards-container {
  margin: 4.5rem 0 10rem; }
  @media only screen and (min-width: 800px) {
    .cards-container {
      margin-bottom: 12rem; } }
  .cards-container__image {
    padding: 1rem; }
    @media only screen and (min-width: 800px) {
      .cards-container__image {
        width: 25%; } }
  .cards-container__card {
    align-items: center;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px #a4a2a2;
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem;
    padding: 3rem 0;
    text-align: center; }
    @media only screen and (min-width: 800px) {
      .cards-container__card {
        flex-direction: row-reverse;
        justify-content: space-around; }
        .cards-container__card:nth-child(2) {
          flex-direction: initial; } }
  @media only screen and (min-width: 800px) {
    .cards-container__block {
      margin: 0 1.5rem; } }
  @media only screen and (min-width: 800px) {
    .cards-container__content {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 40%; } }
  .cards-container__title {
    color: #00252e;
    font-family: "Poppins", sans-serif;
    padding-top: 2rem; }
    @media only screen and (min-width: 800px) {
      .cards-container__title {
        font-size: 1.5rem;
        margin-bottom: 1rem; } }
  .cards-container__info {
    color: #808d99;
    font-size: 1rem;
    padding: 1rem 2rem; }
    @media only screen and (min-width: 800px) {
      .cards-container__info {
        padding: 0; } }

.footer-container {
  align-items: center;
  background-color: #00252e;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
  font-weight: 400;
  justify-content: center;
  padding: 1rem; }
  @media only screen and (min-width: 800px) {
    .footer-container {
      margin-top: 15rem;
      padding: 0 5.5rem; } }
  @media only screen and (min-width: 800px) {
    .footer-container__desktop-direction {
      display: flex;
      flex-direction: row; } }
  .footer-container__img-footer {
    margin-top: 9rem;
    width: 8rem; }
    @media only screen and (min-width: 800px) {
      .footer-container__img-footer {
        width: 12rem; } }
  .footer-container__section-info {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%; }
    @media only screen and (min-width: 800px) {
      .footer-container__section-info {
        width: 33%; } }
  .footer-container__section-info-location {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%; }
  .footer-container__img-location {
    height: 1.3rem;
    margin-top: .4rem; }
  .footer-container__info-location {
    margin-left: 1rem; }
  .footer-container__section-info-phone {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%; }
  .footer-container__img-phone {
    height: 1.3rem;
    margin-top: .4rem; }
  .footer-container__info-phone {
    margin-left: 1rem; }
  .footer-container__section-info-email {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%; }
  .footer-container__img-email {
    height: 1.3rem;
    margin-top: .4rem; }
  .footer-container__info-email {
    margin-left: 1rem; }
  .footer-container__section-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%; }
    @media only screen and (min-width: 800px) {
      .footer-container__section-links {
        width: 33%;
        padding: 0 5rem; } }
  .footer-container__link-container {
    list-style: none;
    padding: 0; }
    @media only screen and (min-width: 800px) {
      .footer-container__link-container {
        display: block;
        flex-direction: column;
        width: 100%;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; } }
  .footer-container__link-element {
    margin: 0.5rem; }
    @media only screen and (min-width: 800px) {
      .footer-container__link-element {
        margin: 0;
        margin-bottom: 0.9rem; } }
  .footer-container__links {
    color: white;
    margin-bottom: 1rem;
    text-decoration: none; }
    .footer-container__links:hover {
      text-decoration: underline; }
  .footer-container__section-social {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%; }
    @media only screen and (min-width: 800px) {
      .footer-container__section-social {
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-top: 2rem;
        width: 33%; } }
  .footer-container__section-icons {
    margin: auto;
    display: flex; }
    @media only screen and (min-width: 800px) {
      .footer-container__section-icons {
        margin: 0;
        margin-right: auto;
        display: flex; } }
  .footer-container__link-social {
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0 10px;
    text-decoration: none;
    width: 30px; }
    .footer-container__link-social:nth-child(1) {
      margin-left: 0; }
    .footer-container__link-social:hover {
      border: 1px solid #ff52bf;
      color: #ff52bf;
      transition: .3s ease; }
  .footer-container__copyright {
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    margin-top: 1.5rem; }
    @media only screen and (min-width: 800px) {
      .footer-container__copyright {
        margin-top: 10rem;
        margin-right: auto; } }

.floating-container {
  margin-bottom: 2rem;
  position: absolute;
  width: 100%; }
  .floating-container__relative {
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 0.5px 5px #a4a2a2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: -80px;
    width: 90%; }
    @media only screen and (min-width: 800px) {
      .floating-container__relative {
        height: 12rem;
        width: 40%; } }
  .floating-container__title {
    color: #00252e;
    font-size: 1.1rem;
    margin-top: 2rem;
    text-align: center; }
    @media only screen and (min-width: 800px) {
      .floating-container__title {
        font-size: 1.5rem; } }
  .floating-container__button {
    background-color: #ff52bf;
    border-radius: 3rem;
    border: none;
    box-shadow: 1px 1px 3px #a4a2a2;
    color: white;
    font-weight: 700;
    height: 3.5rem;
    margin: 2rem 0;
    width: 15rem; }
    .floating-container__button:hover {
      background-color: #ff99da; }
    @media only screen and (min-width: 800px) {
      .floating-container__button {
        width: 16rem; } }

* {
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem; }

a:hover, button:hover {
  transition: .3s ease;
  cursor: pointer; }

.container {
  margin: 0 1.5rem; }

/*# sourceMappingURL=styles.css.map */
