@import "variables";
@import "medias";
@import "header";
@import "hero";
@import "cards";
@import "footer";
@import "card";

* {
  margin:0;
}

body {
  font-family: $font-family-primary;
  font-size: 1.125rem;
}

a, button{
  &:hover{
    transition: .3s ease;
    cursor: pointer;
  }
}

.container {
  margin: 0 1.5rem;
}
